* {
  box-sizing: border-box;
}

body {
  background-color: #318369;
  background-image: linear-gradient(40deg, #318369 0%, #6534a2 100%);
}

/* .navBar {
  background-color: #0093e9;
  background-image: linear-gradient(45deg, #0093e9 0%, #80d0c7 50%, #ffffff 100%);
  box-shadow: 10px 10px #ffffff;
} */

/* @media screen and (max-width: 600px) {
  .navBtnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
} */

.navBtnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 81px;
}
.MuiToolbar-root {
  background-color: black;
  position: fixed !important;
  z-index: 1;
  width: 100%;
}

.makeStyles-headerOptions-4 {
  display: flex;
  justify-content: center;
}

.menuItem {
  background-color: black;
  color: white;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
}
.menuItem:hover {
  background-color: rgba(255, 255, 255, 0.219);
}

.menuItem.current {
  background-color: rgba(255, 255, 255, 0.219);
}

h1 {
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  justify-content: center;
}

#cardtop {
  background-color: #0093e9;
  background-image: linear-gradient(45deg, #0093e9 0%, #80d0c7 50%, #ffffff 100%);
  box-shadow: 10px 10px #ffffff;
}
.MuiCardContent-root {
  background-color: #0093e9;
  background-image: linear-gradient(45deg, #0093e9 0%, #80d0c7 50%, #ffffff 100%);
  box-shadow: 10px 10px #ffffff;
}
.MuiCardActions-root {
  background-color: #0093e9;
  background-image: linear-gradient(45deg, #0093e9 0%, #80d0c7 50%, #ffffff 100%);
  box-shadow: 10px 10px #ffffff;
}

#cardtop:hover {
  background-color: rgba(117, 255, 225, 0.61);
}
.project-card:hover {
  transform: scale(1.05);
}

.tech-selection {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-backdrop {
  background-color: #21d4fd;
  background-image: linear-gradient(268deg, #21d4fd 0%, #21d4fd 46%, #c90407 100%);

  border-radius: 5px;
  margin: 10px;
  width: 200px;
}

.tech-button {
  border: none;

  /* from : https://cssgradient.io/gradient-backgrounds/  */
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  /* box-shadow: 5px 5px #21d4fd; */
  border-radius: 5px;
  color: black;
  padding: 10px 27px;
  /* width: 70px;
  height: 50px; */
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.tech-button:hover {
  background-color: #b721ff;
  background-image: none;
  border-radius: 5px;
  transform: scale(1.05);
}

.poster-selection {
  height: 500px;

  /* from :  https://css-tricks.com/snippets/css/css-box-shadow/ */
  background-color: rgb(68, 68, 68); /* Needed for IEs */

  -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

  zoom: 1;

  position: relative;
  overflow-x: scroll;
  overflow-y: auto;
  overflow: auto;

  justify-content: start;
}

@media screen and (min-width: 1290px) {
  div.poster-selection {
    display: flex;
    justify-content: center;
  }
}

.poster-container {
  background-image: url("./components/work/static/portfoliobackground2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1290px 550px;
  display: flex;
  height: 500px;
  width: 1290px;
}

.poster:hover {
  background-color: rgba(117, 255, 225, 0.61) !important;
}

.poster {
  border: 3px solid purple;
  height: 50px;
}

.selected {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  fill: rgba(69, 123, 240, 0.295) !important;
}

.selected:hover {
  background-color: rgb(78, 125, 212);
}

.tech-button.selected {
  transform: translate(20px) !important;
}

.selected-work {
  display: flex;
  height: 400px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.workCard {
  background-color: yellow;
}

.form-container {
  margin: 40px;
}

.about-container {
  display: flex;
  justify-content: center;
}

.aboutme {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.tech-span {
  border: 1px solid black;
  border-radius: 7px;
  padding: 5px;
}

/* .page-container {
  z-index: 1;
  background-color: red;
} */

.control-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 4em;
  display: flex;
  align-items: center;
}

.controls-container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  width: 100%;
  height: fit-content;
  background-color: black;
  position: relative;

  /* top: 0;
  left: 0; */
}

.MuiSlider-rail {
  color: white;
}
.MuiSlider-root:hover {
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 5px;
}

.MuiSlider-thumb {
  color: white;
}

#root > div > div.page-container > div.controls-container > span {
  width: 100px;
  margin-top: 18px;
}

#root > div > div.page-container > div.controls-container > span:hover {
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 5px;
}

#deselectButton {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.control-button:hover {
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 5px;
}

#muteButton {
  margin-right: 10px;
  cursor: pointer;
  /* float: left;
  position: absolute;
  top: 0;
  left: 0; */
}

@media screen and (max-width: 291px) {
  .controls-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #deselectButton {
    position: relative;
  }
}

/* .reset-container {
  float: right;
  width: fit-content;
  height: fit-content;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
} */

/* #deselectButton {
  float: right;
  position: fixed;
  top: 0;
  right: 0;
} */

.poster#Python {
  background-color: red;
  position: relative;
  top: 7%;
  right: 7%;
}
.poster#Django {
  background-color: green;
  position: relative;
  right: 13%;
  top: 30%;
}
.poster#JavaScript {
  background-color: blue;
  position: relative;
  right: 10%;
  top: 22%;
}
.poster#React {
  background-color: yellow;
  position: relative;
  left: 10%;
  top: 13%;
}
.poster#Redux {
  background-color: purple;
  position: relative;
  right: 15%;
  top: 45%;
}
.poster#Nodejs {
  background-color: orange;
  position: relative;
  right: 15%;
  top: 5%;
}
.poster#Expressjs {
  background-color: cyan;
  position: relative;
  left: 20%;
  top: 8%;
}
.poster#SQL {
  background-color: magenta;
  position: relative;
  left: 27%;
  top: 13%;
}
.poster#NoSql {
  background-color: aquamarine;
  position: relative;
  left: 38%;
  top: 20%;
}
.poster#Postgresql {
  background-color: forestgreen;
  position: relative;
  left: 29%;
  top: 37%;
}

.poster#MongoDB {
  background-color: gold;
  position: relative;
  right: 29%;
  top: 43%;
}
.poster#Bootstrap {
  background-color: lightsalmon;
  position: relative;
  right: 43%;
  top: 26%;
}
.poster#CSS {
  background-color: palevioletred;
  position: relative;
  right: 22%;
  top: 39%;
}
.poster#HTML {
  background-color: coral;
  position: relative;
  left: 0%;
  top: 45%;
}
.poster#APIs {
  background-color: khaki;
  position: relative;
  right: 19%;
  top: 48%;
}
.poster#RESTframework {
  background-color: olive;
  position: relative;
  right: -5%;
  top: 58%;
}

svg {
  background-color: "blue";
}

/* @media screen and (max-width: 928px) {
  div.poster-selection {
    display: none;
  }
} */

/* svg #Selection {
  fill: rgba(241, 131, 4, 0.596);
} */

#Selection:hover {
  fill: rgba(44, 121, 145, 0.411);
}

/* svg #Selection1 {
  fill: red;
}

#Selection1:hover {
  fill: white;
} */
