* {
  box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  justify-content: center;
}

a:hover {
  background-color: rgba(117, 255, 225, 0.61);
}

#cardtop:hover {
  background-color: rgba(117, 255, 225, 0.61);
}

.project-card:hover {
  transform: scale(1.05);
}

/* input {
  display: none;
} */

.tech-selection {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.tech-button {
  border-radius: 3px;
  margin: 10px;
}

.selected {
  background-color: lightblue;
}

.selected-work {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-rows: repeat(2, 100px);
}

.form-container {
  margin: 40px;
}

.about-container {
  display: flex;
  justify-content: center;
}

.aboutme {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.tech-span {
  border: 1px solid black;
  border-radius: 7px;
  padding: 5px;
}
