* {
  box-sizing: border-box;
}

body {
  font-size: x-large;
}

@keyframes changeColor1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes changeColor2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.background1 {
  background-color: #318369;
  background-image: linear-gradient(40deg, #318369 0%, #6534a2 100%);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  animation: changeColor1 6s ease-in-out infinite;
  -o-animation: changeColor1 6s ease-in-out infinite;
}
.background2 {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  /* animation: changeColor2 4s ease-in-out infinite;
  -o-animation: changeColor2 4s ease-in-out infinite; */
}

@keyframes changeColor2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.headshot {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.144);
  width: 400px;
}

.headshot-container {
  margin-top: 70px;
  /* background-color: black; */
  display: flex;
  justify-content: center;

  position: relative;
}
.intro-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.homepage {
  margin-top: 81px;
  display: flex;
  flex-direction: column;
}

.intro-line {
  padding-bottom: 5%;
  text-indent: 7%;
}

.email-input {
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
}

.message-input {
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
}

.form-container > form > div > label {
  color: black;
}

form {
  margin-top: 30%;
}

.navBtnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 81px;
}
.MuiToolbar-root {
  background-color: black;
  position: fixed !important;
  z-index: 1;
  width: 100%;
}

.makeStyles-headerOptions-4 {
  display: flex;
  justify-content: center;
}

.menuItem {
  background-color: black;
  color: white;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 30px;
  cursor: pointer;
}
.menuItem:hover {
  background-color: rgba(255, 255, 255, 0.219);
}

.menuItem.current {
  background-color: rgba(255, 255, 255, 0.219);
}

h1,
h3 {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

.MuiPaper-root {
  background-color: rgba(255, 255, 255, 0.13) !important;
}

#menu-appbar > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded > ul {
  background-color: white;
}

#cardtop {
  background-color: rgba(0, 0, 0, 0);
  color: black;
}
.MuiCardContent-root {
  background-color: rgba(0, 0, 0, 0);

  color: black;
  overflow-y: scroll;
  overflow-x: hidden;
}
.MuiCardActions-root {
  background-color: rgba(130, 15, 224, 0.082);
}

#root > div > div.page-container > div.work-container > div > div > div > div.MuiCardContent-root > div {
  display: flex;
  flex-wrap: wrap;
}
#cardtop
  > div
  > span.MuiTypography-root.MuiCardHeader-subheader.MuiTypography-body1.MuiTypography-colorTextSecondary.MuiTypography-displayBlock {
  color: black;
}

#cardtop > div > span.MuiTypography-root.MuiCardHeader-title.MuiTypography-h5.MuiTypography-displayBlock {
  font-weight: 700;
}

#root > div > div.page-container > div.work-container > div > div > div {
  border: 1px solid black;
}

#cardtop:hover {
  background-color: rgba(88, 52, 218, 0.61);
}
.project-card:hover {
  transform: scale(1.05);
}

/* work cards */
#root > div > div.page-container > div.work-container > div > div > div {
  width: 500px;
}

.arrowDiv:hover {
  transform: scale(1.5);
}

.left-arrow {
  margin-left: 30%;
}

@media screen and (max-width: 375px) {
  #root > div > div.page-container > div.work-container > div > div > div {
    width: 240px;
  }
}

.tech-selection {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-backdrop {
  background-color: #21d4fd;
  background-image: linear-gradient(268deg, #21d4fd 0%, #21d4fd 46%, #c90407 100%);

  border-radius: 5px;
  margin: 10px;
  width: 200px;
}

.selectProjectsText {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tech-button {
  border: none;
  cursor: pointer;
  /* from : https://cssgradient.io/gradient-backgrounds/  */
  background-color: #6b4cf5;
  /* background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%); */
  border-radius: 5px;
  color: black;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.tech-button:hover {
  background-color: #b721ff;
  background-image: none;
  border-radius: 5px;
  transform: scale(1.05);
}

.poster-selection {
  height: 500px;

  /* from :  https://css-tricks.com/snippets/css/css-box-shadow/ */
  background-color: black;

  /* -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6); */

  zoom: 1;

  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow: auto;

  justify-content: start;
}

@media screen and (min-width: 1290px) {
  div.poster-selection {
    display: flex;
    justify-content: center;
  }
}

.poster-container {
  background-image: url("./components/work/static/portfoliobackground2.jpg");

  background-position: center;
  background-size: 1290px 550px;
  display: flex;
  height: 500px;
  width: 1290px;
  animation: animatedBackground 30s linear infinite;
  -moz-animation: animatedBackground 30s linear infinite;
  -webkit-animation: animatedBackground 30s linear infinite;
  -ms-animation: animatedBackground 30s linear infinite;
  -o-animation: animatedBackground 30s linear infinite;
}

.sgv {
  animation: animatedSVG 30s linear infinite;
  -moz-animation: animatedSVG 30s linear infinite;
  -webkit-animation: animatedSVG 30s linear infinite;
  -ms-animation: animatedSVG 30s linear infinite;
  -o-animation: animatedSVG 30s linear infinite;
}

.poster-container:hover svg {
  animation-play-state: paused;
}

.poster-container:hover {
  animation-play-state: paused;
}

@keyframes animatedSVG {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-160px);
  }
  100% {
    background-position: 0 0;
  }
}
@-moz-keyframes animatedSVG {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-160px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes animatedSVG {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-160px);
  }
  100% {
    transform: translateX(0);
  }
}
@-ms-keyframes animatedSVG {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-160px);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes animatedSVG {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-160px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -160px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-moz-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -160px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -160px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-ms-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -160px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-o-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -160px 0;
  }
  100% {
    background-position: 0 0;
  }
}

.poster {
  border: 3px solid purple;
  height: 50px;
}

.selected {
  background-color: #68debf;
  /* background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%); */
  fill: rgba(69, 123, 240, 0.295) !important;
}

.selected:hover {
  background-color: rgb(78, 125, 212);
}

.tech-button.selected {
  transform: translate(20px) !important;
}

.work-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#selected-work {
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 5px;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

/* from : https://css-tricks.com/almanac/properties/s/scrollbar/*/
.selected-work::-webkit-scrollbar,
.poster-selection::-webkit-scrollbar {
  width: 1em;
}

.selected-work::-webkit-scrollbar-track,
.poster-selection::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.164);
  border-radius: 5px;
}

.selected-work::-webkit-scrollbar-thumb,
.poster-selection::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.466);
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 5px;
}

.page-container {
  margin-top: 81px;
}

.form-container {
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
}

.about-container {
  position: relative;
  margin-top: 81px;
}

.aboutme-line {
  border: 1px solid black;
  border-radius: 5px;
  padding: 4%;
}

.aboutme,
.intro {
  border-radius: 5px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
.intro {
  margin-bottom: 5%;
  margin-top: 1%;
}

.aboutme-img-2 {
  width: 30%;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.144);
}

.aboutme-img-1 {
  width: 50%;
  margin-left: 10%;
  margin-right: 10%;

  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.144);
}

.about-img-container-1 {
  display: flex;
  justify-content: center;
  background-color: black;
}

.about-img-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.resume {
  margin-top: 81px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.resume-container {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
}

.tech-span {
  border: 1px solid black;
  border-radius: 7px;
  padding: 5px;
}

.control-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 4em;
  display: flex;
  align-items: center;
}

.controls-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: fit-content;
  background-color: black;
  position: relative;
}

.MuiSlider-rail {
  color: white;
}
.MuiSlider-root:hover {
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 5px;
}

.MuiSlider-thumb {
  color: white;
}

#root > div > div.page-container > div.controls-container > span {
  width: 100px;
  margin-top: 18px;
}

#root > div > div.page-container > div.controls-container > span:hover {
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 5px;
}

#deselectButton {
  cursor: pointer;
}
.control-button:hover {
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 5px;
}

#muteButton {
  margin-right: 10px;
  cursor: pointer;
}

.instruction {
  color: white;
  margin: auto;
}

@media screen and (max-width: 291px) {
  .controls-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #deselectButton {
    position: relative;
  }
}

.poster#Python {
  background-color: red;
  position: relative;
  top: 7%;
  right: 7%;
}
.poster#Django {
  background-color: green;
  position: relative;
  right: 13%;
  top: 30%;
}
.poster#JavaScript {
  background-color: blue;
  position: relative;
  right: 10%;
  top: 22%;
}
.poster#React {
  background-color: yellow;
  position: relative;
  left: 10%;
  top: 13%;
}
.poster#Redux {
  background-color: purple;
  position: relative;
  right: 15%;
  top: 45%;
}
.poster#Nodejs {
  background-color: orange;
  position: relative;
  right: 15%;
  top: 5%;
}
.poster#Expressjs {
  background-color: cyan;
  position: relative;
  left: 20%;
  top: 8%;
}
.poster#SQL {
  background-color: magenta;
  position: relative;
  left: 27%;
  top: 13%;
}
.poster#NoSql {
  background-color: aquamarine;
  position: relative;
  left: 38%;
  top: 20%;
}
.poster#Postgresql {
  background-color: forestgreen;
  position: relative;
  left: 29%;
  top: 37%;
}

.poster#MongoDB {
  background-color: gold;
  position: relative;
  right: 29%;
  top: 43%;
}
.poster#Bootstrap {
  background-color: lightsalmon;
  position: relative;
  right: 43%;
  top: 26%;
}
.poster#CSS {
  background-color: palevioletred;
  position: relative;
  right: 22%;
  top: 39%;
}
.poster#HTML {
  background-color: coral;
  position: relative;
  left: 0%;
  top: 45%;
}
.poster#APIs {
  background-color: khaki;
  position: relative;
  right: 19%;
  top: 48%;
}
.poster#RESTframework {
  background-color: olive;
  position: relative;
  right: -5%;
  top: 58%;
}

svg {
  background-color: "blue";
}

#Selection:hover {
  fill: rgba(44, 121, 145, 0.411);
  cursor: pointer;
}
